/* .main {
  width: 60%;

  margin: 0 auto;
  background-color: black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

/* .container1 {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container1 {
  min-height: 915px;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.main {
  width: 70%;
}
.listgroupsbg {
  background-color: black !important;
}

.formFont {
  background-color: rgba(131, 130, 130, 0.147) !important;
  font-size: 13px;
}

@media (max-width: 760px) {
  .main {
    width: 80%;
  }
}
