/* .main {
  width: 60%;

  margin: 0 auto;
  background-color: black;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
} */

/* .container1 {
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.container1 {
  position: absolute;
  width: 400px;
  height: 500px !important;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -999;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.listgroupsbg {
  background-color: black !important;
}

.formFont {
  background-color: rgba(131, 130, 130, 0.147) !important;
  font-size: 13px;
}

@media only screen and (max-width: 430px) {
  .container1 {
    width: 90%;
    height: 420px !important;
  }
}
